.table {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 0px;
}

.priceBox1, .priceBox2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

tr, th, td {
    display: flex;
    justify-content: space-around;
    margin: 3px 0px;
    min-width: 250px;
    width: 100%;
}

.priceBox1 table, .priceBox2 table {
    border-bottom: solid thick rgb(25, 25, 25);
    border-right: solid thick rgb(25, 25, 25);
    border-width: 5px;
    border-radius: 4px;
}

tr:hover {
    color: rgb(187, 0, 0);
}

.disclaimers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(187, 0, 0);
    max-width: 70%;
    margin-left: 15%;
}

.disclaimers li {
    margin-top: 8px;
}

h5 {
    margin-top: 100px;
    margin-bottom: 7px;
}

.disclaimers ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 35px;
}