.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-bottom: solid thick red;
  }
  
  img {
    height: 100px;
    padding-left: 30px;
    padding-top: 10px;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 28px;
  }
  
  .navLinks li {
    margin: 0;
    font-weight: bold;
    padding-right: 45px;
    padding-top: 10px;
  }
  
  .navLinks a {
    text-decoration: none;
    color: rgb(232, 3, 3);
  }
  
  .navLinks a:hover {
    text-decoration: underline;
    color: rgb(228, 188, 10);
  }