.card {
    width: fit-content;
    overflow: hidden;
    margin-top: 150px;
    display: flex;
    align-items: space-between;
    justify-content: flex-start;
    min-width: 65%
  }

  .card:first-of-type {
    margin-top: 50px;
  }
  
  .awardsImage {
    width: 100%;
    height: auto;
    pointer-events: none;
    padding: 0px;
    border-radius: 7.5%;
    width: 400px;
    height: auto;
    align-items: flex-start;
    margin-right: 150px;
  }

  .awardsImage:hover {
    display: none;
}
  
  .cardContent {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -75px;
  }
  
  .showName {
    font-size: 1.4em;
    margin: 0;
  }
  
  .award {
    margin: 8px 0 0 0;
  }


  @media only screen and (max-width: 1000px) {
    .card {
     flex-direction: column;
     align-items: center;
    }

    .showName {
      margin-top: 25%;
    }

    .cardContent {
      margin-bottom: 20%;
    }

    .awardsImage {
      margin-right: 0px;
    }
  }

  @media only screen and (max-width: 600px) {
    .showName {
      margin-top: 40%;
    }
  }