.mainContainer {
    /* SAME AS DISPLAY IMAGE */
    width: 450px;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    justify-content: center;
    align-items: center;
}

.displayImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 600px;
    border-radius: 7.5%;
    background-size: cover;
    background-position: center;
}

.rightArrow, .leftArrow {
    background-color: rgb(245, 245, 245, .25);
    width: fit-content ;
    block-size: fit-content;
    border-radius: 30%;
    padding: 5px;
    margin-left: 3%;
    margin-right: 3%;
}

.rightArrow:hover, .leftArrow:hover {
    transform: scale(1.07);
    background-color: rgb(245, 245, 245, .5);
    cursor: pointer;
}

.rxDots {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.rxDot {
    margin-left: 3px;
    margin-right: 3px;
}

.rxDot:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.galleryBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(187, 0, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
}

.galleryBtn:hover {
    color: rgb(255, 220, 65);
    transform: scale(1.1);
}

@media (max-width: 500px) {
    .mainContainer {
        width: 375px;
    }
    .displayImage {
        width: 375px;
        height: 500px;
    }
}