.table {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 0px;
    align-items: center;
}



.priceBox1, .priceBox2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

tr, th, td {
    display: flex;
    justify-content: space-around;
    margin: 3px 0px;
    min-width: 250px;
}

tr {
    width: 100%;
}

.priceBox1 table, .priceBox2 table, .priceBox3 table {
    border-bottom: solid thick rgb(25, 25, 25);
    border-right: solid thick rgb(25, 25, 25);
    border-width: 5px;
    border-radius: 4px;
}

tr:hover {
    color: rgb(187, 0, 0);
}

.disclaimers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(187, 0, 0);
    max-width: 70%;
    margin-left: 15%;
    margin-bottom: 100px;
}

.disclaimers li {
    margin-top: 8px;
}

h5 {
    margin-top: 100px;
    margin-bottom: 7px;
    font-weight: bold;
}

.disclaimers ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 35px;
    list-style-type: disc;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
    tr, td {
        min-width: 200px;
        overflow-wrap: break-word;
    }

        td {
        max-width: 250px;
    }
}

@media only screen and (max-width: 600px) {
    tr, th, td {
        min-width: 150px;
    }

    td {
        max-width: 180px;
    }
}

@media only screen and (max-width: 500px) {
    tr, th, td {
        min-width: 125px;
    }

    td {
        max-width: 150px;
    }
}