h2 {
    font-size: 28px;
    margin: 25px;
    margin-top: 40px;
    text-decoration: solid underline rgb(187, 0, 0);
    text-align: center;
}

tr, th, td {
    display: flex;
    width: 100%;
}

td {
    width: max-content;
    text-align: center;
}

thead {
    background-color: rgb(45, 45, 45);
    color: white;
    justify-content: center;
}

tr {
    justify-content: center;
    width: max-content;
}

th {
    font-size: large;
}

tr:nth-child(even) {
    background-color: rgb(145, 145, 145);
    color: whitesmoke;
}

tr:nth-child(even):hover {
    color: rgb(255, 220, 65);
}

thead tr:hover {
    color: rgb(220, 186, 35);
}

tfoot {
    color: rgb(187, 0, 0);
    display: flex;
    justify-content: flex-end;
}